.shop-page.container{
    max-width:1400px;
}

/* Shop Grid */
.woocommerce ul.products{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:60px 48px;
    margin:80px auto 0;
    max-width:1400px;
    padding:0 40px;
}

/* Responsive */
@media(max-width:1200px){
    .woocommerce ul.products{
        grid-template-columns:repeat(2, 1fr);
        gap:48px 36px;
        /* margin-bottom:140px; */
    }
}

@media(max-width:680px){
    .woocommerce ul.products{
        grid-template-columns:1fr;
        gap:48px;
        padding:0 20px;
        /* margin-bottom:120px; */
    }
}

/* Woo Cleanup */
.woocommerce-breadcrumb{
    display:none !important;
}

.woocommerce-products-header{
    margin-bottom:40px;
}

.woocommerce-page section{
    margin-bottom:0 !important;
    padding-bottom:0 !important;
}

.woocommerce-shop main,
.post-type-archive-product main{
  margin-bottom: var(--space-footer-gap);
}


.shop-page.container {
  max-width: 1400px;
}

/* .woocommerce ul.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 48px;
  margin-bottom: 120px;
  max-width: 1400px;
  padding: 0 40px;
} */

.woocommerce-breadcrumb {
  display: none !important;
}

.woocommerce-page {
  position: relative;
  z-index: 1;
  background: var(--zarsa-cream);
}

.woocommerce-page main {
  padding-bottom: 160px;
}

.woocommerce-breadcrumb {
  margin: 20px 0 10px;
  font-size: 13px;
  opacity: 0.6;
}

.woocommerce-products-header {
  margin-bottom: 30px;
}
